body{
    margin: auto;
    padding: 10px;
}

#cabecalho{
    width: 100%;
    height: 150px;

    background-color: lightseagreen;
}

#corpo{
    width: 100%;
    height: 300px;

    background-color: mediumpurple;
}

#form{
    position: absolute;
    
    margin-left: 40%;
    margin-top: 50px;

    width: 200px;
    height: 180px;

    background-color: palegreen;
}

#rodape{
    
    width: 100%;
    height: 150px;
    float: left;

    background-color: navajowhite;
}

#slides{
    list-style: none;
    position: relative;
    width: 800px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
}

#slides li{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    transition: opacity 1s;
}

#slides li.slide-ativo{
    z-index: 1;
    opacity: 1;
}